* {
    box-sizing: border-box;
}

.mainbox {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 350px;
    height: 500px;
    border: 2px solid darkgrey;
    background-color: rgb(87, 155, 107);
    box-shadow: 10px 10px 5px darkslategrey;
}

.display {
    width: 335px;
    height: 100px;
    align-self: start;
    border: 1px solid darkgrey;
    border-radius: 5px;
    margin-top: 5px;
    background-color: rgb(127, 255, 212);
    font-size: 32px;
    text-align: end;
}

.buttonbox {
    display: flex;
    flex-wrap: wrap;
}

.button {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    margin: 5px;
    flex: auto;
    background-color: rgb(212, 212, 157);
    font-size: 32px;
}

.button:hover {
    background-color: cadetblue;
}

.operator {
    background-color: darkkhaki;
}